/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#define DEFAULT 0
#define LEFT_SYM 1
#define RIGHT_SYM 2
#define NUM 3
#define MOVE 4
#define OS_WM 5

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
display-name = "default";
// -----------------------------------------------------------------------------------------------------------------------------
// |      |  '      |  ,        |  .        |  P       |  Y        |   |  F  |  G       |  C        |  R       |  L     |      |
// |      | LGUI A  |  LALT O   |  E LCTRL  |  U LT2   |  I        |   |  D  |  H LT1   |  LCTRL T  |  LALT N  | LGUI S |      |
// |      |  TAB    |  Q        |  J        |  K LT3   |  X        |   |  B  |  M       |  W        |  V       |  Z     |      |
//                              | ESC LT4   | SPC LT5  | OSM SHIFT |   | OSM SHIFT | RET  LT5 | BSPC LT4       |
                        bindings = <
&none  &kp SQT     &kp COMMA   &kp DOT      &kp P        &kp Y         &kp F       &kp G      &kp C        &kp R       &kp L       &none
&none  &mt LGUI A  &mt LALT O  &mt LCTRL E  &lt 2 U      &kp I         &kp D       &lt 1 H    &mt LCTRL T  &mt LALT N  &mt LGUI S  &none
&none  &kp TAB     &kp Q       &kp J        &kp K        &kp X         &kp B       &kp M      &kp W        &kp V       &kp Z       &none
                               &lt 0 ESC    &lt 0 SPACE  &sk LSHIFT    &sk LSHIFT  &lt 0 RET  &lt 0 BSPC
            >;
        };

        left_sym_layer {
            display-name = "left_sym";
                         bindings = <
&none  &kp QUESTION   &kp EXCL  &kp LEFT_BRACKET      &kp PIPE   &kp RIGHT_BRACKET        &none  &none  &none  &none  &none  &none
&none  &kp BACKSLASH  &kp HASH  &kp LEFT_PARENTHESIS  &kp SLASH  &kp RIGHT_PARENTHESIS    &none  &none  &none  &none  &none  &none
&none  &trans         &kp AT    &kp LEFT_BRACE        &kp TILDE  &kp RIGHT_BRACE          &none  &none  &none  &none  &none  &none
                                &none                 &none      &none                    &none  &none  &none
            >;
        };

        right_sym_layer {
            display-name = "right_sym";
                         bindings = <
&none  &none  &none  &none  &none  &none    &none     &kp DOLLAR  &kp PERCENT  &kp AMPS   &none      &none
&none  &none  &none  &none  &none  &none    &kp PLUS  &kp MINUS   &kp UNDER    &kp ASTRK  &kp EQUAL  &none
&none  &none  &none  &none  &none  &none    &none     &kp SEMI    &kp COLON    &none      &none      &none
                     &none  &none  &none    &none     &none       &none
            >;
        };

        num_layer {
                  bindings = <
&none  &none  &none  &none  &none  &none    &none  &kp NUMBER_7  &kp NUMBER_8  &kp NUMBER_9  &none  &none
&none  &none  &none  &none  &none  &none    &none  &kp NUMBER_4  &kp NUMBER_5  &kp NUMBER_6  &none  &none
&none  &none  &none  &none  &none  &none    &none  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &none  &none
                     &none  &none  &none    &none  &none         &kp N0
            >;

            label = "num";
        };

        move_layer {
                   bindings = <
&none  &none  &none  &none  &none  &none    &none  &none     &kp UP_ARROW    &none            &none  &none
&none  &none  &none  &none  &none  &none    &none  &kp LEFT  &kp DOWN_ARROW  &kp RIGHT_ARROW  &none  &none
&none  &none  &none  &none  &none  &none    &none  &none     &none           &none            &none  &none
                     &none  &none  &none    &none  &none     &none
            >;

            label = "move";
        };

        os_wm_layer {
            bindings = <
&none  &none             &kp LA(N4)        &kp LA(N5)        &kp LA(N6)  &kp LA(Y)    &kp LA(F)  &none      &none      &none  &kp LA(L)  &none
&none  &kp LA(NUMBER_0)  &kp LA(NUMBER_1)  &kp LA(NUMBER_2)  &kp LA(N3)  &none        &kp LA(D)  &kp LA(H)  &kp LA(T)  &none  &none      &none
&none  &none             &none             &none             &none       &none        &none      &none      &none      &none  &none      &none
                                           &none             &none       &none        &none      &none      &none
            >;

            label = "os_wm";
        };
    };
};
